{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Evento</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body>

    <div class="container">

        <h1>Cadastrar Evento</h1>

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">
                Cadastrar evento
            </button>

        </form>

        <a class="voltar" href="{% url 'listar_eventos' %}">
            ← Voltar para eventos
        </a>

    </div>

</body>
</html>