{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Tarefa</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body>

    <div class="container">

        <h1>Excluir tarefa</h1>

        <p>
            Tem certeza que deseja excluir a tarefa
            <strong>{{ tarefa.titulo }}</strong>?
        </p>

        <form method="post">
            {% csrf_token %}

            <button class="btn" type="submit">
                Sim, excluir
            </button>
        </form>

        <br>

        <a class="btn" href="{% url 'listar_tarefas' %}">
            Cancelar
        </a>

    </div>

</body>

</html>