{% extends "core/base.html" %}

{% block title %}
Eventos
{% endblock %}

{% block content %}

<h1>Eventos</h1>

<a class="btn" href="{% url 'criar_evento' %}">
    + Cadastrar novo evento
</a>

{% if eventos %}

    {% for evento in eventos %}

        <div class="evento">

            <h2>{{ evento.nome }}</h2>

            <p>
                <strong>Descrição:</strong>
                {{ evento.descricao }}
            </p>

            <p>
                <strong>Data:</strong>
                {{ evento.data|date:"d/m/Y" }}
            </p>

        </div>

        <div class="acoes">

            <a class="btn" href="{% url 'editar_evento' evento.id %}">
                Editar
            </a>

            <a class="btn" href="{% url 'excluir_evento' evento.id %}">
                Excluir
            </a>

        </div>

    {% endfor %}

{% else %}

    <div class="evento">
        <p>Nenhum evento cadastrado.</p>
    </div>

{% endif %}

{% endblock %}